.Header {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  box-shadow: var(--main-box-shadow);
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;

}

.HeaderNav {
  width: 100%;
}

.HeaderNavList {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.HeaderNavItem {
  &:nth-last-child(2) {
    margin-left: auto;
    margin-right: 30px;
  }
}