.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.header {
  margin-bottom: 30px;
}

.todo-list {
  margin-top: 30px;
  margin-bottom: 30px;
}